:root {
  --dsatc-body-text-color: #{$dark};
  --dsatc-body-bg-color: #{$white};

  --dsatc-btn-primary-color: #{$white};
  --dsatc-btn-primary-bg: #{$green};
  --dsatc-btn-primary-bg-hover: #{$green-light};

  --dsatc-btn-secondary-color: #{$white};
  --dsatc-btn-secondary-bg: #{$dark};

  --dsatc-form-color: #{$dark};
  --dsatc-form-bg: #{$white};
  --dsatc-form-error-color: #{$red};
  --dsatc-form-error-border: #{$red};
  --dsatc-form-border-focus-color: #{$green};

  --dsatc-body-font-size: #{$fs-base};
  --dsatc-body-font-weight: #{$fw-normal};

  --dsatc-h1-font-size: #{$h-1};
  --dsatc-h2-font-size: #{$h-2};
  --dsatc-h3-font-size: #{$h-3};
  --dsatc-h4-font-size: #{$h-4};
  --dsatc-h5-font-size: #{$h-5};
  --dsatc-h6-font-size: #{$h-6};

  --dsatc-h1-font-weight: #{$fw-medium};
  --dsatc-h2-font-weight: #{$fw-medium};
  --dsatc-h3-font-weight: #{$fw-medium};
  --dsatc-h4-font-weight: #{$fw-normal};
  --dsatc-h5-font-weight: #{$fw-normal};
  --dsatc-h6-font-weight: #{$fw-light};
}
