@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*=============================================
=                  Colors                     =
=============================================*/

/* Brand Colors */

$green: #5ece7b;
$green-light: #9ee2b0;

$dark: #1d1f22;
$dark-light: #737680;

/* Comment */

$gray: #a3a5ad;
$gray-light: #bebfc4;

$white: #fff;
$white-dark: #f1f2f3;

/* Utility Colors */

$red: #d12727;
$red-light: #f8dedf;

$blue: #0468db;
$white-light: #b4d2f4;

/*=============================================
=                  Typography                 =
=============================================*/

/* Font Family */

$opensans: "Open Sans", sans-serif;

/* Font sizes */

$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px
$fs-lg: 1.125rem; // 18px
$fs-xl: 1.5rem; // 24px

/* Heading font sizes */

$h-1: 1.375rem; // 22px
$h-2: 1.375rem; // 22px
$h-3: 1rem; // 16px
$h-4: 1.125rem; // 18px
$h-5: 0.75rem; // 12px
$h-6: 0.75rem; // 12px

/* Font weights */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/*=============================================
=            Breakpoints                      =
=============================================*/

$breakpoints: (
  md: 48rem,
  // 768px
    lg: 64rem,
  // 1024px
    xl: 80rem,
  // 1280px
);